.container {
}
header,
nav,
main,
footer {
  padding: 10px;
  border: 1px solid #eee;
}
header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav {
}
main {
}
footer {
}
/* .logo-icon img {
  width: 300px;
} */
.header-logo img {
  width: 350px;
}
.my-function {
  display: flex;
  justify-content: space-between;
}
.my-function li {
  margin: 10px 10px 0px 0px;
  font-size: 12px;
}
.search {
  margin-top: 50px;
  display: flex;
  justify-content: end;
}
.search input {
  border: 1px solid transparent;
  border-bottom: 1px solid black;
  width: 150px;
}
.search input:focus{
  outline:none;
}

.menu-wrap {
  display: flex;
  justify-content: center;
}
.menu-wrap a {
  font-size: 16px;
  font-weight: bold;
  margin: 0 40px;
  box-shadow: inset 0px -0.4em 0 0 rgba(204,208,240, 1);
}
.main-img {
  background-image: url(../img/mainimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.best-title,
.new-title {
  padding: 20px;
  margin: 30px 0 15px 0;
  text-align: center;
  font-size: 18px;
}
.bestproduct,
.newproduct {
  display: flex;
  justify-content: center;
}
.product-wrap{
  margin: 0 5px;
}
.bestproduct img,
.newproduct img {
  width: 300px;
  height: 250px;
}
.product-name{
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  padding: 7px 0px;
  
}
.product-price{
  text-align: right;
  padding: 0 5px 10px 0;
  /* border-bottom: 0.5px solid #ddd; */
}
.bestproduct .fa-angle-left,
.bestproduct .fa-angle-right,
.newproduct .fa-angle-left,
.newproduct .fa-angle-right {
  font-size: 30px;
  color: rgba(100, 100, 100, 0.7);
  line-height: 250px;
  text-align: center;
  margin: 0 10px;
}
.product-function {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.want-review{
  line-height: 35px;
  text-align: center;
}
.want{
  margin-right: 7px;
}
.product-function .fa-basket-shopping {
  font-size: 20px;
  line-height: 35px;
  color: rgb(75, 75, 75);
  padding:5px;
  margin-right: 10px;
}
hr{
  margin: 40px 0 20px 0;
}